{% extends 'rosebiology/base.html' %}
{% comment "This causes problem in 1.9 and, I believe, wasn't needed after 1.5 so remove it once it's stable" %}{% load url from future %} {% endcomment %}
{% load bootstrap3 %}

{% block title %}
    Species Update
{% endblock %}

{% block content %}

    <form role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary" name="update">
                Update
            </button>
            <button type="submit" class="btn btn-primary" name="cancel">
                Cancel
            </button>
        {% endbuttons %}
    </form>

{% endblock %}
